graph {
	fill-mode: gradient-vertical;
	fill-color: gray, white, white, white, white, gray;
}

node {
	size: 20px;
	z-index: 1;
	fill-color: blue, orange, white, green, red, yellow, black;
	fill-mode: dyn-plain;
	text-alignment: under;
	text-color: white;
	text-style: italic;
	text-background-mode: rounded-box;
	text-background-color: #222C;
	text-padding: 4px, 4px;
	text-offset: 3px, 3px;
}

node.service {
	size: 40px;
	shape: diamond;
	z-index: 1;
	fill-color: yellow, orange;
	fill-mode: gradient-horizontal;
	text-alignment: under;
	text-color: white;
	text-style: bold;
	text-background-mode: rounded-box;
	text-background-color: #222C;
	text-padding: 4px, 4px;
	text-offset: 3px, 3px;
}

edge {
	z-index: 0;
	fill-color: #333;
	size: 2px;
}

sprite {
	shape: circle;
	fill-mode: gradient-radial;
	fill-color: #FFF8, #FFF0;
}